
.grid-a {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    list-style:none;
    margin:0;
    padding:0px;
}




.grid-b {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    list-style:none;
    margin:0;
    padding:0px;
}



.grid-c {
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    list-style:none;
    margin:0;
    padding:0px;
}


.grid-d {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    list-style:none;
    margin:0;
    padding:0px;
}

.grid-e {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0px;
}

/*tablet*/
@media (min-width: 600px) {
    .grid-e {
        grid-template-columns: repeat(2, 1fr); 
    }
}
/*dekstop*/
@media (min-width: 1024px) {
    .grid-e {
        grid-template-columns: repeat(3, 1fr); 
    }
}



.grid-f {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));; 
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0px;
}