button {
    background-color: #6E4545;
    color: #d9d9d9;
}

h3 {
  background-color: #a87979; 
  color: #6E4545;            
  padding: 15px 30px;        
  display: inline-block;           
  border-radius: 4px;      
} 



.galeria-grid {
    display: grid;
    /* Define 3 colunas: a 1ª é mais larga (1.4fr) e as outras 2 são iguais (1fr) */
    grid-template-columns: 1.4fr 1fr 1fr;
    /* Define 2 linhas de 200px de altura */
    grid-template-rows: repeat(2, 200px);
    gap: 12px; /* Espaçamento entre as fotos */
    max-width: 950px;
    margin: 20px auto;
}

.galeria-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem sem esticar nem distorcer */
    display: block;
}

  /* Faz a 1ª foto ocupar as 2 linhas da 1ª coluna */
.foto-principal {
    grid-row: span 2;
  }
